## Project 4-2 : Data Acquisition SQL

## Assignment Instructions

### Description

Some SQL problems.

### Grading

For grading purposes, we will clear all outputs from all your cells and then run them all from the top.  Please test your notebook in the same fashion before turning it in.

### Submitting Your Solution

To submit your notebook, first clear all the cells (this won't matter too much this time, but for larger data sets in the future, it will make the file smaller).  Then use the File->Download As->Notebook to obtain the notebook file.  Finally, submit the notebook file on Canvas.

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sqlalchemy import create_engine, inspect

### Problem: SQL (50 points)

Use the csci303 database downloaded in class and code provided (12-SQL_New) to answer the following questions.  Note that you can answer every one of these questions just with single SQL queries, but you are free to instead pull data into pandas and answer the questions that way, or use multiple queries, etc.

The data you'll be working with is from the [Bureau of Labor Statistics](https://www.bls.gov/emp/documentation/education-training-system.htm).
<br>There are three tables:
- `occupation_codes` provides a mapping between two different organization's occupation codes and titles.  You'll need this table to lookup occupation codes for the other two tables.
- `occupation_attainments` gives the percentages of workers (aged 25 or older) in each occupation (in 2014-2015) who had attained a particular level of education.
- `occupation_assignments` gives requirements for each occupation in terms of education, experience, and on-the-job training.

The code to inspect the names and types of the columns in thses tables is given below. Feel free to comment this out once you get a feel for the table structures.

## SET UP

To set up we have to create an inspector on the database to get the information we need! To do so we will follow these steps:
1. Create a Database variable, this holds the name of the database you downloaded for this assignment!
2. Create an inspector object and create_engine on the database object from # 1
3. Print out information from the database to gain a better understanding of what it contains!

---

**Questions for Set Up (Edit this cell):**

---

(a) What is the variable type of the acs_code column?

    The variable type of the acs_code column is Integer

(b) What does the 'Real' column type mean?

    The column type of real means a real number including floating point precision or a float/double datatype
    
(c) What column(s) are shared amongst the three tables? This is how they are related!!
    
    The column shared amongst all three tables is the soc_code column

In [ ]:
#FINISH THIS CODE

dburi = 'sqlite:///csci303.sqlite3' # Data base connection!
inspector = inspect(create_engine(dburi)) # Here we have created an inspector to take a look at the db!
tables = list(filter(lambda name: "occupation" in name, inspector.get_table_names()))

# Loop through the tables list and print all of the table names and columns
for table in tables:
    print("Table name: ", table) # Print the table name (table)
    for column in inspector.get_columns(table): # Print the column name and type, think of the column as a dataframe, column['xxx']
        print("Column name: %s: %s" % (column["name"], column["type"])) # TODO enter in what you want from the columns
    print()

In [ ]:
query = """
SELECT *
FROM occupation_attainments
"""
pd.read_sql_query(query ,dburi)

---

**Questions for Problem 2 (Edit this cell):**

---

(a) What are the SOC and ACS codes for 'Database administrators ' - (this may have a space at the end)?
    
    15-1141

(b) How many SOC occupation titles are there grouped under the ACS title 'Postsecondary teachers'?

    38

(c) How much education and prior experience do you typically need to become a software developer?

    You need a bachelors degree and no prior experience

(d) What SOC occupation has the highest percentage of doctoral or professional degree holders?

    Podiatrists	

EXTRA CREDIT: (5pts) What acs_title has the longest length? (There are two right answers!)

Miscellaneous food preparation and serving related workers, including dining room and cafeteria attendants and bartender helpers, is the longest title

In [ ]:
# YOUR CODE HERE
query = """
SELECT acs_title, soc_title, soc_code, acs_code
FROM occupation_codes
WHERE soc_title = 'Database administrators '
OR acs_title = 'Database administrators '
"""

pd.read_sql_query(query ,dburi)

In [ ]:
query = """
SELECT acs_title, soc_title
FROM occupation_codes
WHERE acs_title = 'Postsecondary teachers'

"""

print(len(pd.read_sql_query(query ,dburi)))
pd.read_sql_query(query ,dburi)

In [ ]:
query = """
SELECT oc.soc_title, oas.* 
FROM occupation_codes AS oc, occupation_assignments as oas
WHERE oc.soc_code = oas.soc_code
AND oc.soc_title LIKE 'Software developer%%'
"""

pd.read_sql_query(query ,dburi)

In [ ]:
query = """
SELECT oc.soc_title, oat.doctoral_or_professional 
FROM occupation_codes AS oc, occupation_attainments as oat
WHERE oc.soc_code = oat.soc_code
ORDER BY oat.doctoral_or_professional DESC
"""

pd.read_sql_query(query ,dburi)[:5]

In [ ]:
query = """
SELECT oc.acs_title
FROM occupation_codes AS oc 
ORDER BY LENGTH(oc.acs_title) DESC
"""
pd.set_option('display.max_colwidth', None)
pd.read_sql_query(query ,dburi)[:3]

### Questionnaire
1) How long did you spend on this assignment?
<br><br>
    I spent about an hour on it


2) What did you like about it? What did you not like about it?
<br><br>
    I liked learning how to interact with and use sql databases better than I knew how to before.


3) Did you find any errors or is there anything you would like changed?
<br><br>
    Not that I can think of